.containerImg{
    background-color: white;
    height: 150px;
    width: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 
    0px 4px 2px rgba(0, 0, 0, 0.1),
    0px 4px 8px rgba(0, 0, 0, 0.2);
}

.topcard{
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
}

.MedicIcon {
    background-color: #E7F6F1;
    background-size: contain;
    padding: 10px;
    margin-top: 5%;
    margin-left: 3%;
    list-style: none;
    margin-right: 3%;
    border-radius: 10px;
}

.bottomcardImg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-left: 15px;
    padding-right: 15px;
}

.botonImagenesCard{
    background-color: #00916E;
    border-color: #00916E;
    width: 170px;
    height: 29px;
    border-radius: 20px;
    font-size: 10px;
    margin-right: 7%;
    margin-top: 5px;
}



.labellineCard{
    max-width: 80%;
    font-size: 13px;
}

.botonImagenes {
    background-color: #00916E;
    border-color: #00916E;
    width: 130px;
    height: 27px;
    border-radius: 20px;
    font-size: 10px;
    margin-bottom: 0%;
}


.botonImagenesEliminar {
    background-color:  rgb(200, 54, 54);
    border-color: rgb(200, 54, 54);
    width: 130px;
    height: 27px;
    border-radius: 20px;
    font-size: 10px;
    margin-bottom: 0%;
}
  
  .botonImagenesEliminar:hover {
    background-color: rgb(173, 9, 9);
    border-color: rgb(173, 9, 9);
  }
  

.modalContent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px; /* Aumenta el tamaño máximo del cuadro modal */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro o transparente */
    border-radius: 10px;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5); /* Extiende la sombra por toda la pantalla */
    padding: 20px;
    z-index: 1050;
  }
  
  .modalContent > div {
    background-color: #fff; /* Contenido dentro del cuadro modal es blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
  }
