.container{
    background-color: #E7F6F1;
    display: flex;
}

.body{
    height: 100hv;
    flex-grow: 1;
    padding-left: 100px;
}

.cabecera{
    display: flex;
    justify-content: space-between;
    height: 180px;
    padding-right: 20px;
    align-items: center;
}

.cardbody {
    display: grid;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(400px, 1fr)
        );
    gap: 32px;
}

@media (max-width: 1500px) {
    .cardbody {
        display: grid;
        grid-template-columns: auto auto;
        gap: 32px;
    }
    
  }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.agregarCita{
    background-color: black;
    border-color: black;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
}