.body {
  background-color: #E7F6F1;
  padding: 3em;
}

.titulo {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.backButton {
  background-color: #00916E;
  font-size: small;
  border: none;
  color: white;
  padding: 0.5em 2em;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 14px;
}

.citaInfo, .recetaInfo, .ordenInfo {
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.recetaInfo, .ordenInfo {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pacienteInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columna2, .columna3 {
  margin-left: 3em;
}

.columna4 {
  align-content: end;
}

.pacienteFoto {
  width: 10em;
  margin-bottom: 1em;
}

.texto {
  margin-bottom: 1em !important;
  white-space: wrap;
}

.citaDetalle {
  display: flex;
  flex-direction: column;
}

.editButton {
  background-color: #888888;
  border: none;
  font-size: small;
  color: white;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 14px;
}

.recetaMedica, .ordenMedica {
  margin-bottom: 1em;
  width: 100%;
}

.addButton {
  background-color: #888888;
  border: none;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 14px;
  font-size: small;
  margin-left: 0.5em;
}

.asistio {
  color: green;
}

.noAsistio {
  color: red;
}

.input {
  border: 1px solid #00916E;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  margin: 0.5em;
}

.cabecera {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 925px) {
  .columna2, .columna3 {
    margin-left: 0.5em;
  }
}

@media (max-width: 845px) {
  .pacienteInfo {
    justify-content: center;
  }
}

@media (max-width: 699px) {
  .addButton {
    margin-top: 1em;
    margin-left: 0;
  }
}

.proximas_citas {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.cita {
  margin-bottom: 10px;
  width: 100%;
}


.receta__title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
  color: #014433;
}

.receta__text {
  color: black;
  font-size: 0.9em;
  margin-bottom: 1em;
  font-weight: normal;
}

.receta__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
}

.receta {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.card {
  width: 200px;
  background-color: #b9b9b9;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medicamento__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.medicamentos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.addButton {
  background-color: #00916E;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}