.body {
  background-color: #E7F6F1;
  padding: 3em;
}

.titulo {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
}

.backButton {
  background-color: #00916E;
  font-size: small;
  border: none;
  color: white;
  padding: 0.5em 2em;
  cursor: pointer;
  margin-bottom: 1em;
  border-radius: 14px;
}

.citaInfo, .recetaInfo, .ordenInfo {
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.recetaInfo, .ordenInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.pacienteInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.columna2, .columna3 {
  margin-left: 3em;
}

.columna4 {
  align-content: end;
}

.pacienteFoto {
  width: 10em;
  margin-bottom: 1em;
}

.texto {
  margin-bottom: 1em !important;
  white-space: wrap;
}

.citaDetalle {
  display: flex;
  flex-direction: column;
}

.editButton {
  background-color: #888888;
  border: none;
  font-size: small;
  color: white;
  padding: 0.5em 2em;
  cursor: pointer;
  border-radius: 14px;
}

.recetaMedica, .ordenMedica {
  margin-bottom: 1em;
}

.addButton {
  background-color: #888888;
  border: none;
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 14px;
  font-size: small;
  margin-left: 0.5em;
}

.asistio {
  color: green;
}

.noAsistio {
  color: red;
}

.cabecera {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 925px) {
  .columna2, .columna3 {
    margin-left: 0.5em;
  }
}

@media (max-width: 845px) {
  .pacienteInfo {
    justify-content: center;
  }
}

@media (max-width: 699px) {
  .addButton {
    margin-top: 1em;
    margin-left: 0;
  }
}